
{% extends "layout.twig" %}

{% block content %}

<div class="nav-header">
    <div class="tabletmob-nav">
                {{widget('extendednavigation', 'tabletmobnavigation', {})|raw}}
    </div>

    <div class="feature-content">
        {{widget('feature', 'featurehome', {"header": "", "strapline":"", "buttonText":"","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': false})|raw}}
        <header class="bk-header">
        	<div class="desktop-nav">
                {{widget('extendednavigation', 'desktopnavigation', {})|raw}}
        	</div>
            <div class="wrapper">
                <div class="companyheader">
                    {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                    {{widget('companyname', 'companyname', {"business": ""})|raw}}
                </div>
            </div>
        </header>
    </div>
</div>

<div class="main wrapper clearfix">
	{{zone('main')|raw}}
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('socialicons', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
</footer>

{% endblock %}
